# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.env
.venv
env/
venv/

# Patch files
*.patch

# Unit test / coverage reports
.coverage
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Result files
results/*
